@charset "UTF-8";
:root {
  --main-text-color: #757575;
  --color-title: #212121;
  --color-blue: #2196F3;
  --color-white:#FFFFFF;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.main-item,
.info,
.advantage,
.img-item,
.img-portfolio,
.address,
.our-service-btn,
.clients-item,
.seti-icons,
.join-link-list,
.modal-list {
  list-style-type: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

html, body {
  min-width: 480px;
  overflow-x: hidden;
}

.container {
  min-width: 480px;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  align-items: center;
}
.footer .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
}
.footer .logo {
  color: var(--color-white);
}

.header {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navigation {
  display: flex;
  align-items: center;
}

.word-web {
  color: var(--color-blue);
}

.main-item {
  position: relative;
}
.main-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 16px;
}

.main-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-item-link:focus, .main-item-link:hover {
  color: var(--color-blue);
}

.current {
  color: var(--color-blue);
}
.current::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -30px;
  background: var(--color-blue);
  border-radius: 2px;
}

.information {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transform: color;
  transition-property: inherit;
  transition-duration: 250ms;
}
.info:first-child {
  margin-right: 30px;
}

.info-link-mail,
.info-link-phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-link-mail:hover, .info-link-mail:focus,
.info-link-phone:hover,
.info-link-phone:focus {
  color: var(--color-blue);
  fill: var(--color-blue);
}

.info-svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.info-svg-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.burger {
  z-index: 100;
  display: none;
  cursor: pointer;
  transition: background-color 300ms;
}
.burger:hover .bar1, .burger:hover .bar2, .burger:hover .bar3 {
  background-color: #2196F3;
}

.nav-mobile {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  letter-spacing: 0.02em;
}
.nav-mobile .nm-menu {
  padding-left: 40px;
  padding-top: 48px;
  list-style-type: none;
}
.nav-mobile .nm-menu li a {
  line-height: 70px;
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
  color: #212121;
}
.nav-mobile .nm-menu li a.active {
  color: #2196F3;
}
.nav-mobile .nm-bottom {
  position: absolute;
  bottom: 0;
  padding-left: 40px;
  padding-bottom: 48px;
}
.nav-mobile .nm-bottom .phone {
  color: #2196F3;
  font-size: 34px;
  font-style: normal;
  line-height: 70px;
}
.nav-mobile .nm-bottom .mail {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-top: 17px;
}
.nav-mobile .nm-bottom .social-links {
  margin-top: 80px;
  height: 22px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.nav-mobile .nm-bottom .social-links li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 22;
  font-style: normal;
  text-decoration: none;
  color: #2196F3;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.nav-mobile .nm-bottom .social-links li:first-child a {
  padding-left: 0;
}
.nav-mobile .nm-bottom .social-links li:last-child a {
  border-right: none;
}

.bar1, .bar2, .bar3 {
  width: 32px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 1200px) {
  .current::after {
    bottom: -35px;
  }

  .header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .header .container .information {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .header .container .information .info {
    margin: 0;
  }
  .header .container .information .info:first-child {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .header .logo {
    font-size: 24px;
  }
  .header .container {
    justify-content: space-between;
  }
  .header .container .navigation .main-nav .main-item {
    margin-right: 25px;
  }
  .header .container .navigation .main-nav .main-item:last-child {
    margin-right: -25px;
  }
}
@media only screen and (max-width: 630px) {
  .header .container .information {
    display: none;
  }
  .header .container .navigation {
    display: none;
  }
  .header .container .burger {
    display: inline-block;
  }
}
.hero-cont {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  max-width: 1920px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img@2x-min.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  width: 696px;
  height: 120px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button-hero {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.button-hero:hover, .button-hero:focus {
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .hero-cont {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_t@1x-min.jpg);
  }

  .hero {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    font-size: 34px;
    line-height: 1.5;
  }

  .button-hero {
    font-size: 18px;
  }

  .hero-cont {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_p@1x-min.jpg);
  }
}
@media only screen and (max-width: 630px) {
  .hero {
    font-size: 27px;
    margin-bottom: 0px;
  }
}
/* Наши преимущества */
.meta {
  padding: 94px 0;
}

.our-plus {
  display: none;
}

.advantage {
  display: inline-block;
  overflow: hidden;
}

.advantage-flex {
  display: flex;
}

.advatage-text {
  display: inline-block;
  width: 270px;
  height: 101px;
}

.advantage-icons {
  background-position: 50% 50%;
  padding: 25px 100px;
  margin-bottom: 30px;
  text-align: center;
  background: #F5F4FA;
  border-radius: 4px;
}

.advantage-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--color-title);
}

.advantage-details {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media only screen and (max-width: 1200px) {
  .advantage-row {
    padding-left: 130px;
    padding-right: 130px;
  }

  .advatage-text {
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .advantage-row {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media only screen and (max-width: 1050px) {
  .advantage-row {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (max-width: 900px) {
  .advantage-row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .advantage-row {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 576px) {
  .advantage-item {
    text-align: center;
  }
}
.benefits {
  padding-bottom: 94px;
}

.our-work {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.our-work-flex {
  display: flex;
}

.our-work-text {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

@media only screen and (max-width: 1200px) {
  .benefits {
    display: none;
  }
}
.comanda {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.our-team-flex {
  display: flex;
}

.img-text {
  padding: 30px 0;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.team-spec {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.picture {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.picture img {
  width: 100%;
  height: auto;
}

.cart {
  display: flex;
}

.seti-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
}

.seti-icons-box-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.seti-icons-box-staff:hover, .seti-icons-box-staff:focus {
  border-radius: 50%;
  background-color: var(--color-blue);
  fill: var(--color-white);
}

.img-item {
  position: relative;
  padding-right: 30px;
}

.our-work-info {
  position: absolute;
  bottom: 0;
  display: flex;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .team-row {
    padding-left: 160px;
    padding-right: 160px;
  }

  .img-item {
    padding-bottom: 35px;
  }
  .img-item .team {
    font-size: 23px;
  }
  .img-item .team-spec {
    font-size: 21px;
  }

  .comanda {
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 1100px) {
  .team-row {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media only screen and (max-width: 1000px) {
  .team-row {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 750px) {
  .team-row {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .team-row {
    padding-left: 10px;
    padding-right: 10px;
  }

  .img-item .team {
    font-size: 20px;
  }
  .img-item .team-spec {
    font-size: 19px;
  }
}
@media only screen and (max-width: 550px) {
  .team-row {
    padding-left: 10px;
    padding-right: 10px;
  }

  .img-item .team {
    font-size: 18px;
  }
  .img-item .team-spec {
    font-size: 16px;
  }
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-text {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--color-title);
}

.clients-item {
  display: flex;
  justify-content: space-between;
}

.clients-icons-svg {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 49px;
  text-align: center;
}
.clients-logo:hover .clients-icons-svg, .clients-logo:focus .clients-icons-svg {
  fill: var(--color-blue);
}

.clients-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
  height: 90px;
}
.clients-logo:hover, .clients-logo:focus {
  border: 1px solid #2196F3;
}

@media screen and (min-width: 768px) {
  .clients-logo {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-logo {
    width: 170px;
  }
}
@media only screen and (max-width: 1200px) {
  .clients {
    padding-bottom: 45px;
  }

  .clients-icons {
    margin-bottom: 45px;
  }
}
.footer {
  display: flex;
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-row {
  width: 1200px;
}

.address-box {
  margin-top: 20px;
}

.adress-info {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-white);
}

.dop {
  color: rgba(255, 255, 255, 0.6);
}

.right-part {
  display: inline-block;
  height: 80px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-white);
}

.join-link-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.seti-icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-white);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.seti-icons-box:not(:last-child) {
  margin-right: 10px;
}
.seti-icons-box:hover, .seti-icons-box:focus {
  background-color: var(--color-blue);
}

.appeal {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-form {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.footer-form-box {
  display: flex;
  align-items: center;
}

.input-footer {
  width: 350px;
  height: 50px;
  background-color: #2F303A;
  color: var(--color-white);
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.input-footer::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.footer-btn-form {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 29px;
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.footer-btn-form:hover, .footer-btn-form:focus {
  outline: none;
}

.subscribe {
  fill: var(--color-white);
  margin-left: 10px;
}

@media only screen and (max-width: 1199px) {
  .left-part, .right-part, .part-form {
    text-align: center;
  }

  .address-box li {
    padding-bottom: 10px;
  }

  .join-link-list {
    margin: auto;
  }

  .part-form {
    margin-top: 50px;
  }

  .footer-form {
    text-align: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 576px) {
  .right-part {
    margin-top: 50px;
  }

  .footer-form {
    flex-direction: column;
  }
  .footer-form .input-footer {
    margin-bottom: 25px;
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus, .modal-btn:hover {
  fill: var(--color-blue);
  outline: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-appeal {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--color-title);
}

.input-modal {
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus ~ .modal-icon, .input-modal:hover ~ .modal-icon {
  fill: var(--color-blue);
}
.input-modal:focus, .input-modal:hover {
  outline: none;
  border: 1px solid var(--color-blue);
  border-radius: 4px;
}

.modal-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  left: 50px;
  transform: translateY(50%);
  fill: var(--color-title);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  display: block;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--color-title);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:focus, .modal-textarea:hover {
  outline: none;
  border: 1px solid var(--color-blue);
  border-radius: 4px;
}

.check-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-left: 30px;
  margin-top: 18px;
}
.check-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/Icons/check_off.svg);
  position: absolute;
  margin-left: -20px;
  transform: translateY(25%);
}

.check-input {
  appearance: none;
}
.check-input:checked + .check-label::before {
  background-image: url(../images/Icons/check_on.svg);
}

.modal-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 32px;
  margin-left: auto;
  margin-bottom: 40px;
  margin-right: auto;
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}
.modal-send:focus, .modal-send:hover {
  outline: none;
}

@media only screen and (max-width: 550px) {
  .modal {
    width: 450px;
    padding: 30px;
  }

  .input-modal, .modal-textarea {
    width: 100%;
  }

  .check-label {
    font-size: 12px;
    padding-left: 18px;
  }
}/*# sourceMappingURL=main.css.map */