// .hero-cont {
//     padding-top: 200px;
//     padding-bottom: 200px;
    
//     max-width: 1600px;
    
//     background-color:#C4C4C4;;
//     background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/hero/Img.jpg);
//     height: 600px;
//     background-repeat: no-repeat;
//     background-size: cover;
//     }
    
//     .hero{
//     width: 696px;
//     height: 120px;
    
//     text-align: center;
    
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.364;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--color-white);
    
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 30px;
//     }
    
//     .button-hero {
//     display: block;
//     width: 200px;
//     height: 50px;
    
//     margin-left: auto;
//     margin-right: auto;
    
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875;
    
//     color: var(--color-white);
//     background: var(--color-blue);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     border: none;

//     &:hover,
//     &:focus {
//     outline: none;
//     }
//     }
    
    
    
    