// /* Наши преимущества */
// .meta {
//     padding: 94px 0;
//     }
    
//     .our-plus {
//     display: none;
//     }
    
//     .advantage {
//     display: inline-block;

//     &:not(:last-child) {
//         margin-right: 30px;
//         }
//     }
       
//     .advantage-flex {
//     display: flex;
//     }
    
//     .advatage-text {
//     display: inline-block;
//     width: 270px;
//     height: 101px;
//     }
    
//     .advantage-icons {
//     background-position: 50% 50%;
    
//     padding: 25px 100px;
//     margin-bottom: 30px;
    
//     background: #F5F4FA;
//     border-radius: 4px;
//     }
    
//     .advantage-item {
//      font-weight: 700;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
    
//     margin-bottom: 10px;
        
//     color: var(--color-title);
//     }
    
//     .advantage-details {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.714;
//     letter-spacing: 0.03em;
     
//     color: var(--main-text-color);
//     }