.container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin: 0 auto;

.header &{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #ECECEC;
}
}

@media screen and (min-width:768px){
.container {
width: 738px;
}
}

@media screen and (min-width:1230px){
.container {
    width: 1200px;

    .header & {
            display: flex;
            align-items: center;
            }

        .footer &{
                display: flex;
                align-items:center;
                }
    }
}