html, body {
    min-width: 480px;
    overflow-x: hidden;
}

.container {
    min-width: 480px;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
   

    .header & {
            display: flex;
            align-items: center;
            }

        .footer &{
                display: flex;
                align-items:center;
                }
    }