.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 26px;
    line-height: 1.192;
    text-decoration:none;

    .footer & {
        color: var(--color-white);
        
    }
    }
    

