
    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        color: #000000;
        font-size: 24px;
        line-height: 1.167;
        text-decoration:none;

        @media screen and (min-width:1200px) {
    
            
        }
    
        .footer & {
            color: var(--color-white);
            }
        }
        .word-web {
            color: var(--color-blue);
            }
            
